[Unit]
Description=Google Calendar notifier
Requires=dbus.socket
PartOf=graphical-session.target
After=graphical-session.target dbus.socket
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/gcal-notify

[Install]
WantedBy=graphical-session.target
